<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click Counter</title>
    <link rel="stylesheet" href="/click-Counter/style.css">
</head>
<body>
    <div class="container">
        <header></header>
  
        <div class="bloque">
          <p id="display" class="number">0</p>
          <button id="increment" class="incrementar">Incrementar</button>
  
          <button id="reset" class="reset">Resetear</button>
        </div>
  
        <div class="info-message">
          <p id="message">Congratulations! You clicked 10 times!</p>
        </div>
  
        <footer></footer>
      </div>
    
    <script src="/click-Counter/main.js"></script>
</body>
</html>s